body {
    width: 512px;
}
div {
    border:2px solid black;
    padding-left: 10px;
    width: 300px;
    height: 170px;
}
hr {
    border: none;
    height: 2px;
    color: #333;
    background-color: #333;
}